body {
    background-image: url('data:image/svg+xml;utf8,<svg width="100" height="100" viewBox="0 0 280 280" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="280" height="280" fill="%23FFFBFB"></rect><rect width="28" height="280" fill="%23F8DEB1"></rect><rect x="56" width="28" height="280" fill="%23F8DEB1"></rect><rect x="112" width="28" height="280" fill="%23F8DEB1"></rect><rect x="168" width="28" height="280" fill="%23F8DEB1"></rect><rect x="224" width="28" height="280" fill="%23F8DEB1"></rect><rect x="28" width="28" height="280" fill="%23D6D791"></rect><rect x="84" width="28" height="280" fill="%23D6D791"></rect><rect x="140" width="28" height="280" fill="%23D6D791"></rect><rect x="196" width="28" height="280" fill="%23D6D791"></rect><rect x="252" width="28" height="280" fill="%23D6D791"></rect></svg>'); /* Light pink background */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

@font-face {
    font-family: 'Blobtastics';
    src: url('Blobtastics.ttf') format('truetype'); /* Update the path to the font file */
}

header {
    background-color: #f2dede;
    background-position: center;
    padding: 1px 20px;
    text-align: center;
    position: fixed;
    top: 0;
    width: 94.5%;
    z-index: 1000;
    font-family: 'Blobtastics', Arial, sans-serif; /* Use the newly declared font family */
    font-size: 20px;
}

.header-container {
    border: 20px solid transparent;
    border-image: url('lace.jpeg') 40 repeat; /* lace pattern image */
}

header h1 {
    font-family: 'Blobtastics', Arial, sans-serif;
    color: white;
    text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; /* Add black shadows to create a border effect */
    letter-spacing: 4px;
}
.email-popup {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.7);
}

.email-popup-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 20px;
    width: 300px;
    border-radius: 8px;
    text-align: center;
}

.close-btn {
    cursor: pointer;
    float: right;
    font-size: 24px;
    font-weight: bold;
}

.error-message {
    color: red;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    padding: 30px;
    margin-top: 150px; /* margin to create space between header and products */
}

.product-row {
    display: grid;
    grid-template-columns: 1fr; /* one column */
    grid-gap: 20px;
}
/*boxes on main page*/
.product-box {
    background-color: #fff;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px; 
    height: 300px; 
    margin: 0 auto; /* Center boxes */
}
/*boxes on pages*/
.content-box {
    background-color: #fff; 
    padding: 20px;
    border-radius: 8px; /* Add rounded corners to the box */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    max-width: 600px;
    width: 100%; 
    margin: 0 auto; 
}

.product-box img {
    max-width: 45%; 
    height: auto;
    border-radius: 1px; 
    border: 10px solid pink; 
    box-sizing: border-box; 
}

.product-box h2 a {
    text-decoration: none; 
    color: palevioletred;
}

img {
    width: 300px; /* Set the width of the GIF */
    height: auto; /* Maintain aspect ratio */
    border-radius: 10px; /* Add rounded corners */
}
.image-container {
    width: 100%;
    text-align: center;
}
.sidebar {
    position: fixed;
    top: 120px; /* Adjust the top positioning to start the sidebar buttons lower */
    right: 0;
    width: 7px; /* Minimized width */
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    background-color: #f2dede; /* Light pink sidebar background */
    padding: 5px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Add shadow effect */
    transition: width 0.3s ease; /* Add transition effect for smoother animation */

}

.sidebar.expanded {
    width: 200px; /* Expanded width */
}

#toggleButton {
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    background-color: transparent;
    outline: none;
    cursor: pointer; /* Change cursor to pointer on hover */
    
}
#toggleButton:hover{
    background-color: #e6b8b8;
    border-radius: 3px;
    opacity: 70%;
}


button,
.btn {
    align-content: left;
    background-color: #f2dede;
    border: none;
}
.hidden {
    display: none;
}


/*change the color of buttons under btn class*/
.btn:hover {
    background-color: #0056b3;
}

/* Sidebar button styles */
.sidebar-btn {
    display: block;
    width: 100%;
    padding: 55px 30px;
    text-align: left;
    background: transparent;
    background-color: #f2dede; /* Light pink background */
    border: none;
    text-decoration: none;
    color: #333; /* Dark gray text color */
    font-family: Arial, sans-serif;
    font-size: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

/* Change the background color of sidebar button on hover */
.sidebar-btn:hover {
    background-color: #e6b8b8; /* Lighten the background color on hover */
    border-radius: 3px;
}


.sidebar-btn img {
    width: 20px; /* Adjust the image size */
    height: 20px;
    margin-right: 10px; /* Add some spacing between the image and text */
}

.gif-container {
    display: flex;
    justify-content: center; /* Horizontally center the content */
    align-items: center; /* Vertically center the content */
    max-height: 40vh; /* Set maximum height to 80% of the viewport height */
    margin: 0; /* Remove any default margin */
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.gif-container img {
    max-width: 100%; /* Ensure the GIF does not exceed the container width */
    max-height: 100%; /* Ensure the GIF does not exceed the container height */
    border: 20px solid transparent; /* Set border width */
    border-image: url('lace.jpeg') 40 repeat; /* Specify lace pattern image */

}
.copyright-container{
    text-align: center;
}
.footer-button {
    display: inline-block;
    padding: 3px; /* Adjust padding as needed */
    border-radius: 5px;
}

.sparkle-footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 6%;
    text-align: center;
    background-color: #f2dede; /* Light pink background */
    padding: 15px;
    transition: background-color 0.3s; /* Add transition for smoother effect */
}

.sparkle-footer:hover {
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.1) 25%, transparent 25%, transparent 20%, rgba(255, 255, 255, 0.1) 50%, rgba(255, 255, 255, 0.1) 75%, transparent 75%, transparent);
    background-size: 80px 80px;

}


